<%= form_for(@mailbox) do |f| %>
  <% if @mailbox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailbox.errors.count, "error") %> prohibited this mailbox from being saved:</h2>

      <ul>
        <% @mailbox.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p>
  Edit Password from <b><%= @mailbox.username %></b>
  Remember: You'll type this password in the box clear | without any *
</p>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
